Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspacez
Content/ThirdPerson/Maps/Indoor_BuiltData.uasset
Content/ThirdPerson/Maps/OutDoor_BuiltData.uasset
Content/ThirdPerson/Maps/Testmap_BuiltData.uasset
